.about-us {
  margin: 0 auto;
  margin-left: 30px;
}

.about-us__title {
  .p-reset();
  margin-top: 34px;

  .font-bold();
  font-size: 25px;
  line-height: 1.2;
  color: @title-color;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 255px;
  .list-reset();
  margin-bottom: 3px;
}

.about-us__item {
  padding-top: 85px;

  .font-bold();
  font-size: 17px;
  line-height: 1.18;

  &--ecology {
    width: 180px;
  }
}
