.about-us {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin-top: 23px;
    padding-left: 50px;
    padding-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    margin: 0 auto;
    padding-top: 55px;
    padding-left: 225px;
    padding-bottom: 82px;
  }
}

.about-us__title {
  .p-reset();
  margin: 0 auto;
  margin-top: 28px;

  .font-bold();
  font-size: 25px;
  line-height: 1.2;
  color: @title-color;

  @media (min-width: @tablet-width) {
    margin-left: 0;

    font-size: 43px;
    line-height: 1.16;
  }

  @media (min-width: @desktop-width) {
    .p-reset();

    font-size: 53px;
    line-height: 1.08;
  }
}

.about-us__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .list-reset();
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}

.about-us__item {
  .font-bold();
  font-size: 17px;
  line-height: 1.18;

  @media (min-width: @tablet-width) {
    width: 335px;

    font-size: 20px;
    line-height: 1.1;
  }

  @media (min-width: @desktop-width) {
    width: 350px;
  }

  &--ecology {
    position: relative;
    padding-top: 85px;

    order: 1;

    &::before {
      content: url("../img/feature-flower.svg");
      position: absolute;
      left: 24px;
      top: 50px;
      transform: translate(-50%, -50%);

      width: 32px;
      height: 37px;
    }
  }

  &--style {
    position: relative;
    padding-top: 85px;

    order: 2;

    @media (min-width: @tablet-width) {
      padding-top: 110px;
      order: 3;
    }

    &::before {
      content: url("../img/feature-money.svg");
      position: absolute;
      left: 0;
      top: 30px;
      transform: translate(-50% -50%);

      width: 47px;
      height: 27px;

      @media (min-width: @tablet-width) {
        top: 58px;
      }
    }
  }

  &--likes {
    position: relative;
    padding-top: 82px;

    order: 3;

    @media (min-width: @tablet-width) {
      padding-top: 110px;

      order: 5;
    }

    &::before {
      content: url("../img/feature-heart.svg");
      position: absolute;
      left: 9px;
      top: 32px;
      transform: translate(-50% -50%);

      width: 34px;
      height: 27px;

      @media (min-width: @tablet-width) {
        top: 62px;
      }
    }
  }

  &--knitted {
    position: relative;
    padding-top: 82px;

    order: 4;

    @media (min-width: @tablet-width) {
      padding-top: 85px;

      order: 2;
    }

    &::before {
      content: url("../img/feature-ball.svg");
      position: absolute;
      left: 2px;
      top: 30px;
      transform: translate(-50% -50%);

      width: 35px;
      height: 34px;

      @media (min-width: @tablet-width) {
        top: 35px;
      }
    }
  }

  &--support {
    position: relative;
    padding-top: 85px;

    order: 5;

    @media (min-width: @tablet-width) {
      padding-top: 110px;

      order: 4;
    }

    &::before {
      content: url("../img/feature-rocket.svg");
      position: absolute;
      left: -5px;
      top: 33px;
      transform: translate(-50% -50%);

      width: 55px;
      height: 23px;

      @media (min-width: @tablet-width) {
        top: 60px;
      }
    }
  }

  &--package {
    position: relative;
    padding-top: 80px;

    order: 6;

    @media (min-width: @tablet-width) {
      padding-top: 110px;
    }

    &::before {
      content: url("../img/feature-gift.svg");
      position: absolute;
      left: 2px;
      top: 28px;
      transform: translate(-50% -50%);

      width: 33px;
      height: 32px;

      @media (min-width: @tablet-width) {
        top: 60px;
      }
    }
  }
}
