.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .p-reset();
}

.form__title {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 177px;
  .p-reset();

  .font-bold();
  font-size: 27px;
  line-height: 1.11;

  background-color: @bg-form;
}

.form__desc {
  align-self: center;
  width: 242px;
  .p-reset();
  margin-left: 30px;
  margin-top: 29px;

  .font-regular();
  font-size: 13px;
  line-height: 1.85;
  color: @text-color;

  @media (min-width: @tablet-width) {
    width: 612px;
    margin: 0 auto;
    margin-top: 68px;

    font-size: 17px;
    line-height: 1.76;
  }
}

.form__filter {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  .p-reset();
  margin-top: 30px;
  margin-bottom: 30px;

  border: none;

  &--colored {
    @media (min-width: @tablet-width) {
      background-color: @bg-form;
    }
  }

  &--btn {
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

}

.form__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;

    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 840px;
  }
}

.form__legend {
  .p-reset();

  .font-bold();
  font-size: 17px;
  line-height: 0.94;
  color: @legend-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 167px;
  }

  @media (min-width: @desktop-width) {
    width: 125px;
  }
}

.form__list {
  display: flex;
  flex-direction: column;

  .list-reset();
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  &--color {
    @media (min-width: @tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;

      width: 525px;
    }

    @media (min-width: @desktop-width) {
      width: 840px;
    }
  }

  &--user {
    @media (min-width: @tablet-width) {
      width: 650px;
      margin: 0;
    }
  }
}

.form__label {
  margin-bottom: 25px;

  .font-bold();
  font-size: 17px;
  line-height: 1.06;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 0.95;
  }

  &--type {
    width: 155px;
  }

  &--color {
    margin-top: 46px;
  }
}

.form__item--color {
  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 205px;
  }
}

.form__item--user {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__item--additional {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__label--user {
  .p-reset();
  margin-top: 33px;
}

.form__input-text {
  width: 250px;
  height: 50px;

  border: none;
  border-bottom: 2px solid @title-color;

  &::placeholder {
    .font-regular();
    font-size: 17px;
    line-height: 1.06;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__textarea {
  width: 250px;
  height: 142px;

  border: 2px solid @title-color;

  &::placeholder {
    .font-regular();
    font-size: 17px;
    line-height: 1.06;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__remark {
  .p-reset();
  margin: 0 auto;

  .font-regular();
  font-size: 14px;
  line-height: 1.14;
  color: @text-color;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.form__btn {
  width: 260px;
  height: 52px;

  margin: 0 auto;
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}
