.page-footer {
  background-color: @bg-form;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 320px;
  min-height: 160px;
  margin: 0 auto;
  margin-top: 39px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    width: 666px;
    min-height: 143px;
    padding-left: 52px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1048px;
    padding-left: 51px;
    padding-right: 51px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-img {
  width: 102px;
  height: 34px;
}

.page-footer__link {
  padding-right: 40px;
  font-size: 0;
}

.page-footer__svg {
  &:hover {
    fill: @socials-hover;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.page-footer__link--last {
  padding-right: 0;
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .list-reset();
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.page-footer__developer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 56px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  &:active .page-footer__developer--span {
    opacity: 0.3;
  }

  &:hover .page-footer__developer--logo {
    fill: @socials-hover;
  }

  &:active .page-footer__developer--logo {
    fill-opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -28px;

    width: 260px;
    height: 1px;

    background-color: #e5e5e5;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.page-footer__developer--span {
  padding-right: 30px;

  .font-bold();
  font-size: 19px;
  line-height: 0.95;
}

.page-footer__developer--logo {
  fill: @legend-color;
}
