.page-header {
  display: flex;
  flex-direction: column;

  min-width: 320px;
}

/*@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    min-width: 769px;
    margin: 0;
  }
}*/

/*@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    min-width: 1150px;
  }
}*/
