//Resolution
@mobile-width: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@retina-tablet: ~"(min-width: 768px) and (min-resolution: 1.5dppx), (min-width: 768px) and (min-resolution: 144dpi)";

//Colors
@aqua: #63d1bb;
@black: #000000;
@black-brown: #221f1f;
@darkgrey: #444444;
@green: #149080;
@lightgrey: #ececec;
@menu-index: #f9f9f9;
@seafoam-blue: #63d1bb;
@smokywhite: #f1f1f1;
@socials-hover: #46c1ae;
@white: #ffffff;
